{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "16"
        },
        "modules": false
      }
    ],
    [
      "minify",
      {
        "builtIns": true,
        "mangle": {
          "keepClassName": true
        }
      }
    ],
    [
      "@babel/preset-typescript"
    ]
  ]
}